---
import { urlPatternToUrl } from "../../utils/pagination";
export type Props = {
  urlPattern: string;
  firstPageUrl?: string;
  pageNumber: number;
};

const { urlPattern, firstPageUrl, pageNumber } = Astro.props;
---

<a
  class="number"
  href={urlPatternToUrl(urlPattern, pageNumber, firstPageUrl)}
  aria-label={`Go to page ${pageNumber}`}
>
  {pageNumber}
</a>
