---
export type Props = {
  url?: string;
  label?: string;
};

const { url, label = "&laquo; Prev" } = Astro.props;
---

{
  url && (
    <li>
      <a
        href={url}
        class="previous-page"
        aria-label="Go to previous page"
        set:html={label}
      />
    </li>
  )
}
