// raleway-900 - latin
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  src: local('Raleway Black'), local('Raleway-Black'),
       url(font_path('raleway-v11-latin-900.woff2')) format('woff2'),
       url(font_path('raleway-v11-latin-900.woff')) format('woff');
}

// merriweather-regular - latin
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather'), local('Merriweather-Regular'),
       url(font_path('merriweather-v13-latin-regular.woff2')) format('woff2'),
       url(font_path('merriweather-v13-latin-regular.woff')) format('woff');
}

// merriweather-italic - latin
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  src: local('Merriweather Italic'), local('Merriweather-Italic'),
       url(font_path('merriweather-v13-latin-italic.woff2')) format('woff2'),
       url(font_path('merriweather-v13-latin-italic.woff')) format('woff');
}

// merriweather-700 - latin
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: local('Merriweather Bold'), local('Merriweather-Bold'),
       url(font_path('merriweather-v13-latin-700.woff2')) format('woff2'),
       url(font_path('merriweather-v13-latin-700.woff')) format('woff');
}

// merriweather-700italic - latin
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 700;
  src: local('Merriweather Bold Italic'), local('Merriweather-BoldItalic'),
       url(font_path('merriweather-v13-latin-700italic.woff2')) format('woff2'),
       url(font_path('merriweather-v13-latin-700italic.woff')) format('woff');
}
