.home-header {
  margin-bottom: $spacing-unit;
}
.home-header img {
  margin: 0 auto $spacing-unit/2;
  clear: both;
  padding:  0;
  display: block;
  width: 70px;
  height: 70px;
}
.home-header h1,
.home-header p {
  text-align: center;
  font-family: $header-font-family;
  font-weight: 900;
  letter-spacing: -2px;
  text-transform: uppercase;
  line-height: 1;
  color: $text-color;
}
.home-header h1 {
  font-size: 48px;
}
.home-header p{
  font-size: 24px;
  margin-bottom: $spacing-unit*2;
}

.blog-header,
.home-nav {
  padding-top: $spacing-unit / 2;
  padding-bottom: $spacing-unit / 2;
}
.home-nav {
  max-width: 930px;
  width: 100%;
  margin: 0 auto $spacing-unit*2;
  overflow: hidden;
}
.home-nav nav {
  flex-grow: 1;
  text-align: left;
}

.blog-header a.title{
  font-family: $header-font-family;
  font-weight: 900;
  letter-spacing: -2px;
  text-transform: uppercase;
  line-height: 1;
  color: $text-color;
  font-size: $header-font-size;
  flex-grow: 1;
}
.blog-header a.title:hover{
  text-decoration: none;
  box-shadow: none;
  border: none;
}
.header > div {
  display: flex;
  flex-direction: column;
}
.header nav {
  display: flex;
}
.header nav a{
  font-family: $header-font-family;
  font-weight: 900;
  text-transform: uppercase;
  line-height: $header-font-size;
  margin-left: $spacing-unit/2;
  display: inline-block;
}
.header nav a:hover {
  border: none;
}
.header nav a:first-child {
  margin-left: 0;
}

@include media-query-min(600px) {
  .home-header img {
    width: 120px;
    height: 120px;
  }
  .home-header h1 {
    // padding-top: 180px;
    font-size: 96px;
  }
  .home-header p {
    font-size: 48px;
    margin-bottom: $spacing-unit*4;
    // padding-bottom: 350px;
  }
  .home-nav {
    margin-bottom: $spacing-unit*4;
  }
  .header > div {
    flex-direction: row;
  }
  .header nav {
    justify-content: end;
  }
}
