.intro {
  margin-bottom: $spacing-unit*2;
}

.blog {
  padding-top: $spacing-unit*2;
  margin-bottom: $spacing-unit*2;
  border-top: 1px solid $border-color;
}
.blog h2 {
  line-height: 1;
}

@include media-query-min(600px) {
  .intro {
    font-size: 21px;
  }
}
