.post-title,
.page-title {
  text-align: center;
  font-size: $base-font-size * 2;
  line-height: 1;
  margin: $spacing-unit * 2 0;
}

@include media-query-min(700px) {
  .post-title,
  .page-title {
    font-size: $base-font-size * 3;
  }
}

.post-header-image {
  display: block;
  width: 100%;
  margin-top: -$spacing-unit;
  margin-bottom: $spacing-unit;
}

.post-meta {
  font-style: italic;
  font-size: $small-font-size;
  font-family: $base-font-family;
  font-weight: 400;
  text-transform: none;
}

.post footer {
  margin-top: $spacing-unit * 2;
}

.post-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.post-list h2 {
  font-size: $base-font-size * 1.5;
  line-height: 1.25;
  padding-top: 0;
  padding-bottom: 0;
}
.post-list .post {
  margin-bottom: $spacing-unit;
  padding-bottom: $spacing-unit;
  border-bottom: 1px solid $border-color;
}
.post-list .post:last-child {
  border-bottom: none;
}
.post-list .post p:last-child {
  margin-bottom: 0;
}

/* Centres embedded tweets in posts */
.twitter-tweet-rendered {
  margin-left: auto;
  margin-right: auto;
}

/* iframes - embedded videos in posts */

.post-video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  margin-bottom: $spacing-unit;
}

.post-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Images */

.post-image {
  display: block;
  text-align: center;
}

.post-image img {
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.post-image-outside {
  margin-left: 0;
  margin-right: 0;
}

@include media-query-min(600px) {
  .post-image-left {
    float: left;
    margin-left: 0;
    margin-right: 1em;
    margin-bottom: 1em;
  }
}

@include media-query-min(700px) {
  .post-image-outside {
    margin-left: -100px;
    margin-right: -100px;
  }
}

.post-promo {
  margin-top: $spacing-unit*2;
  padding-top: $spacing-unit*2;
  margin-bottom: $spacing-unit;
  border-top : 5px solid $grey-color-light;
  border-radius: $border-radius;
}
.post-promo h2 {
  font-size: 1.5em;
}
.post-promo p {
}
.post-promo web-share-wrapper button {
  color: $brand-color;
  text-decoration: none;
  border: none;
  background: transparent;
  display: inline;
  font-size: 18px;
  padding: 0;
  cursor: pointer;
  font-family: $base-font-family;
}
.post-promo web-share-wrapper button:hover {
  color: lighten($brand-color, 15%);
  border-bottom: 2px solid lighten($brand-color, 15%);
}