.social {
  list-style-type: none;
  margin: 0 0 $spacing-unit;
  padding: 0;
  overflow: hidden;
}
.social svg {
  display: inline-block;
  height: $base-font-size*1.5;
  width: $base-font-size*1.5;
  vertical-align: bottom;
}
.social .twitter {
  color: #007abc;
  fill: #007abc;
  border-color: #007abc;
}
.social .github {
  color: #171515;
  fill: #171515;
  border-color: #171515;
}
.social .facebook {
  color: #3b5998;
  fill: #3b5998;
  border-color: #3b5998;
}
.social .linkedin {
  color: #0077b5;
  fill: #0077b5;
  border-color: #0077b5;
}
.social .instagram {
  color: #b900b3;
  fill: #b900b3;
  border-color: #b900b3;
}
.social .googleplus {
  color: #d83827;
  fill: #d83827;
  border-color: #d83827;
}
.social .stackoverflow {
  color: #b75c00;
  fill: #b75c00;
  border-color: #b75c00;
}
