<li class="talk">
  <p class="talk-meta">
    {% if appearance.event.end_date %}
      {{ appearance.event.start_date | date: "%b %-d" }} - {{ appearance.event.end_date | date: "%-d, %Y" }}
    {% else %}
      {{ appearance.event.start_date | date: "%b %-d, %Y" }}
    {% endif %}
    - {{ appearance.event.location }}
  </p>
  <h3 class="talk-event">
    {% if appearance.event.link %}
      <a href="{{ appearance.event.link }}">{{ appearance.event.name }}</a>
    {% else %}
      {{ appearance.event.name }}
    {% endif %}
  </h3>
  {% if appearance.roles %}
    <h4>In the role of: {{ appearance.roles | join ', ' }}</h4>
    {% if appearance.talks %}
      <h4>Also presenting</h4>
    {% endif %}
  {% else %}
    {% if appearance.talks %}
      <h4>Presenting</h4>
    {% endif %}
  {% endif %}
  {% for talk in appearance.talks %}
  <p class="talk-title"> <em>"{{ talk.title | xml_escape }}"</em></p>
    {% if talk.slides or talk.video %}
      <ul class="talk-materials">
        {% if talk.audio %}
          <li><a href="{{ talk.audio }}">audio</a></li>
        {% endif %}
        {% if talk.video %}
          <li><a href="{{ talk.video }}">video</a></li>
        {% endif %}
        {% if talk.slides %}
          <li><a href="{{ talk.slides }}">slides</a></li>
        {% endif %}
      </ul>
    {% endif %}
  {% endfor %}
</li>