<footer class="site-footer">
  <div class="wrapper">
    <div class="row">
      <div class="cell cell-12 cell-med-8">
        <p>Find Phil on <a href="https://twitter.com/philnash">Twitter</a>, <a href="https://github.com/philnash">GitHub</a>, <a href="http://twitch.tv/phil_nash">Twitch</a> and loads more (you just have to find them for now).</p>
      </div>

      <p class="cell cell-12 cell-med-4">&copy; {{ site.time | date: '%Y' }} <a href="/">philnash</a> &bull; <a href="/">home</a> {% comment %}&bull; <a href="/about">about</a> {% endcomment %} &bull; <a href="/blog">blog</a></p>
    </div>
  </div>
</footer>

{% js main.js %}
{% if page.scripts %}
  {% for script in page.scripts %}
    {{ script }}
  {% endfor %}
{% endif %}
{% include google_analytics.html %}

