<footer class="site-footer">
  <div class="wrapper">
    <div class="row">
      <div class="cell cell-12 cell-med-8">
        <h2>Find Phil on the Internet</h2>
        <ul class="social">
          <li class="cell cell-6">
            <a href="https://twitter.com/philnash" class="twitter" rel="me">
              {% include icons/twitter.svg %}
              Twitter
            </a>
          </li>
          <li class="cell cell-6">
            <a href="https://github.com/philnash" class="github" rel="me">
              {% include icons/github.svg %}
              GitHub
            </a>
          </li>
          <li class="cell cell-6">
            <a href="https://www.facebook.com/philnash" class="facebook" rel="me">
              {% include icons/facebook.svg %}
              Facebook
            </a>
          </li>
          <li class="cell cell-6">
            <a href="https://www.linkedin.com/in/philnash/" class="linkedin" rel="me">
              {% include icons/linkedin.svg %}
              LinkedIn
            </a>
          </li>
          <li class="cell cell-6">
            <a href="https://www.instagram.com/philnash/" class="instagram" rel="me">
              {% include icons/instagram.svg %}
              Instagram
            </a>
          </li>
          <li class="cell cell-6">
            <a href="https://plus.google.com/+philnash" class="googleplus" rel="me">
              {% include icons/googleplus.svg %}
              Google+
            </a>
          </li>
          <li class="cell cell-12">
            <a href="http://stackoverflow.com/users/28376/philnash" class="stackoverflow" rel="me">
              {% include icons/stackoverflow.svg %}
              StackOverflow
            </a>
          </li>
        </ul>
      </div>

      <div class="cell cell-12 cell-med-4">
        <p>&copy; {{ site.time | date: '%Y' }}
          <a href="/">philnash</a>
        </p>
        <p>
          <a href="/">home</a> {% comment %}&bull;
          <a href="/about/">about</a> {% endcomment %} &bull;
          <a href="/blog/">blog</a> &bull;
          <a href="/speaking/">speaking</a>
        </p>
      </div>
    </div>
  </div>
</footer>

<template id="fresh-notice">
  <div class="notice hidden">
    <p>
      <a href="{{ page.url }}">The content on this page has updated, refresh for the latest.</a>
    </p>
  </div>
</template>

{% asset main.js async:true %}
{% if page.scripts %}
  {% for script in page.scripts %}
    {{ script }}
  {% endfor %}
{% endif %}