<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>
    {% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}
  </title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  {% stylesheet main.css %}
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  {% if page.layout == "post" %}
  <!-- Twitter -->
  {% if page.image %}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="{{ site.url }}{{ page.image }}">
  {% else %}
  <meta name="twitter:card" content="summary">
  {% endif %}
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{{ page.excerpt | strip_html | strip_newlines | xml_escape | truncate: 200 }}">
  <meta name="twitter:site" content="@philnash">
  <meta name="twitter:creator" content="@philnash">

  <!-- Facebook -->
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:description" content="{{ page.excerpt | strip_html | strip_newlines | xml_escape | truncate: 200 }}">
  {% if page.image %}<meta name="og:image" content="{{ site.url }}{{ page.image }}">{% endif %}
  <meta property="og:type" content="article">
  <meta property="og:site_name" content="{{ site.title }}">

  <!-- Google -->
  <meta itemprop="name" content="{{ page.title }}">
  <meta itemprop="description" content="{{ page.excerpt | strip_html | strip_newlines | xml_escape | truncate: 200 }}">
  {% if page.image %}<meta itemprop="image" content="{{ site.url }}{{ page.image }}">{% endif %}
  {% endif %}

  <!-- Origin Trial Token, feature = Web Share, origin = https://philna.sh, expires = 2017-02-22 -->
  <meta http-equiv="origin-trial" data-feature="Web Share" data-expires="2017-02-22" content="Ah1QCf5NKMZmdK9l4mba1AeelJ4DOR54KpAHwf1xjOQTrtLOkyYEecMQc3tAxS6ToRBqaXiRsc0X40/R1y0LnAcAAABLeyJvcmlnaW4iOiJodHRwczovL3BoaWxuYS5zaDo0NDMiLCJmZWF0dXJlIjoiV2ViU2hhcmUiLCJleHBpcnkiOjE0ODc4MjQ3OTF9">
</head>
