<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>
    {% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}
  </title>

  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="author" content="Phil Nash">

  <!-- favicon -->
  <link href='/favicon.png' rel='icon' type='image/png'>

  <!-- preload fonts -->
  <link rel="preload" href="{% asset raleway-v11-latin-900.woff2 @path %}" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="{% asset merriweather-v13-latin-regular.woff2 @path %}" as="font" type="font/woff2"
    crossorigin>
  <!-- preconnect to analytics and ads -->
  <link rel="preconnect" href="https://www.google-analytics.com" crossorigin>
  <link rel="preconnect" href="https://cdn.carbonads.com" crossorigin>
  <link rel="preconnect" href="https://srv.carbonads.net" crossorigin>
  <link rel="preconnect" href="https://ad.doubleclick.net" crossorigin>

  <link rel="manifest" href="/manifest.json">
  <link rel="apple-touch-icon" href="{% asset apple-touch-icon @path %}">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="application-name" content="Phil Nash">
  <meta name="apple-mobile-web-app-title" content="Phil Nash">
  <meta name="theme-color" content="#ea0011">
  <meta name="msapplication-navbutton-color" content="#ea0011">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <meta name="msapplication-starturl" content="/?utm_source=homescreen">

  {% asset includes/critical.css @inline %}

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  {% if page.layout == "post" %}
  <!-- Twitter -->
  {% if page.image %}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="{{ site.url }}{% asset {{page.image}} @path %}">
  {% else %}
  <meta name="twitter:card" content="summary">
  {% endif %}
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{{ page.excerpt | strip_html | strip_newlines | xml_escape | truncate: 200 }}">
  <meta name="twitter:site" content="@philnash">
  <meta name="twitter:creator" content="@philnash">

  <!-- Facebook -->
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:description" content="{{ page.excerpt | strip_html | strip_newlines | xml_escape | truncate: 200 }}">
  {% if page.image %}
  <meta property="og:image" content="{{ site.url }}{% asset {{page.image}} @path %}">
  {% endif %}
  <meta property="og:type" content="article">
  <meta property="og:site_name" content="{{ site.title }}">

  <!-- Google -->
  <meta itemprop="name" content="{{ page.title }}">
  <meta itemprop="description" content="{{ page.excerpt | strip_html | strip_newlines | xml_escape | truncate: 200 }}">
  {% if page.image %}
  <meta itemprop="image" content="{{ site.url }}{% asset {{page.image}} @path %}">
  {% endif %}
  {% endif %}

  <!-- Web monetization: https://webmonetization.org/ -->
  {% web_monetization %}

  {% if jekyll.environment == "production" %}
    {% include google_analytics.html %}
  {% endif %}
</head>