<header class="home-header header row">
  <div class="home-nav cell cell-centre cell-12">
    {% include nav.html %}
  </div>
  <img src="{% asset philnash120x120 @path %}" srcset="{% asset philnash70x70 @path %} 70w, {% asset philnash70x70@2x @path %} 140w, {% asset philnash70x70@3x @path %} 210w, {% asset philnash120x120 @path %} 120w, {% asset philnash120x120@2x @path %} 240w, {% asset philnash120x120@3x @path %} 360w"
    sizes="(min-width: 600px) 120px, 70px" alt="A picture of Phil. He's smiling.">
  <h1>{{ site.title }}</h1>
  <p>is a developer</p>
</header>