@use "sass:math";
@use "vars";

/**
 * Reset some basic elements
 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

/**
 * Basic styling
 */
body {
  font: vars.$base-font-weight #{vars.$base-font-size}/#{vars.$base-line-height}
    vars.$base-font-family;
  color: vars.$text-color;
  background-color: vars.$background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
%vertical-rhythm {
  margin-bottom: vars.$spacing-unit;
}

p,
li {
  text-wrap: pretty;
}

li pre {
  margin: math.div(vars.$spacing-unit, 2) 0;
}

/**
 * Images
 */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: vars.$small-font-size;
  font-style: italic;
}

/**
 * Lists
 */
ul,
ol {
  margin-left: vars.$spacing-unit;
}

li ul,
li ol {
  margin-bottom: 0;
}

/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: vars.$header-font-family;
  font-weight: vars.$header-font-weight;
  text-wrap: balance;
}
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}
h1,
h2,
h3 {
  text-transform: uppercase;
}
h2 {
  font-size: 2em;
  line-height: 1;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
h3 {
  font-size: 1.5em;
  line-height: 1.25;
}
h2 code,
h3 code {
  font-size: inherit;
  text-transform: none;
}

/**
 * Links
 */
a {
  color: vars.$brand-color;
  text-decoration: none;
}
a:hover,
a:focus {
  color: vars.$brand-color-light;
  border-bottom: 2px solid vars.$brand-color-light;
}

/**
 * Blockquotes
 */
blockquote {
  color: vars.$grey-color;
  border-left: 4px solid vars.$grey-color-light;
  padding-left: vars.$spacing-unit;
  padding-top: math.div(vars.$spacing-unit, 2);
  padding-bottom: math.div(vars.$spacing-unit, 2);
  font-size: 24px;
  letter-spacing: -1px;
  font-style: italic;
}
blockquote > :last-child {
  margin-bottom: 0;
}
blockquote em {
  font-style: normal;
}

/**
 * Code formatting
 */
pre,
code {
  font-size: vars.$base-font-size;
}

code {
  padding: 1px 5px;
  background: #ddd;
  border-radius: vars.$border-radius;
}
a code {
  color: #c70000;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;
}
pre > code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
  background: transparent;
}

/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
.icon > svg path {
  fill: vars.$grey-color;
}

/**
 * Abbreviations
 */
abbr,
abbr[title] {
  text-decoration: none;
  border-bottom: 0.1em dotted;
}

/**
 * Small text
 */
small {
  font-size: vars.$small-font-size;
  color: vars.$grey-color;
  font-style: italic;
}
