@use "sass:math";
@use "sass:color";
@use "vars";

.home-header {
  margin-bottom: vars.$spacing-unit;
}
.home-header img {
  margin: 0 auto math.div(vars.$spacing-unit, 2);
  clear: both;
  padding:  0;
  display: block;
  width: 70px;
  height: 70px;
}
.home-header h1,
.home-header p {
  text-align: center;
  font-family: vars.$header-font-family;
  font-weight: 900;
  letter-spacing: -2px;
  text-transform: uppercase;
  line-height: 1;
  color: vars.$text-color;
}
.home-header h1 {
  font-size: 48px;
}
.home-header p{
  font-size: 24px;
  margin-bottom: vars.$spacing-unit*2;
}

.blog-header,
.home-nav {
  padding-top: math.div(vars.$spacing-unit, 2);
  padding-bottom: math.div(vars.$spacing-unit, 2);
}
.home-nav {
  width: 100%;
  margin: 0 auto vars.$spacing-unit*2;
  overflow: hidden;
}
.home-nav nav {
  flex-grow: 1;
  text-align: left;
}

.blog-header a.title{
  font-family: vars.$header-font-family;
  font-weight: 900;
  letter-spacing: -2px;
  text-transform: uppercase;
  line-height: 1;
  color: vars.$text-color;
  font-size: vars.$header-font-size;
  flex-grow: 1;
}
.blog-header a.title:hover{
  text-decoration: none;
  box-shadow: none;
  border: none;
}
.header > div {
  display: flex;
  flex-direction: column;
}
.header nav {
  display: flex;
}
.header nav a{
  font-family: vars.$header-font-family;
  font-weight: 900;
  text-transform: uppercase;
  line-height: vars.$header-font-size;
  margin-left: math.div(vars.$spacing-unit, 2);
  display: inline-block;
  border-bottom: 2px solid transparent;
}
.header nav a.active {
  border-color: vars.$brand-color;
}
.header nav a:hover {
  border-color: vars.$brand-color-light;
}
.header nav a:first-child {
  margin-left: 0;
}

@include vars.media-query-min(600px) {
  .home-header img {
    width: 120px;
    height: 120px;
  }
  .home-header h1 {
    // padding-top: 180px;
    font-size: 96px;
  }
  .home-header p {
    font-size: 48px;
    margin-bottom: vars.$spacing-unit*4;
    // padding-bottom: 350px;
  }
  .home-nav {
    margin-bottom: vars.$spacing-unit*4;
  }
  .header > div {
    flex-direction: row;
  }
  .header nav {
    justify-content: end;
  }
}
