@use "vars";

.intro {
  margin-bottom: vars.$spacing-unit*2;
}

.the-rest {
  padding-top: vars.$spacing-unit*2;
  margin-bottom: vars.$spacing-unit*2;
  border-top: 1px solid vars.$border-color;
}

@include vars.media-query-min(600px) {
  .intro {
    font-size: 21px;
  }
}
