@use "sass:math";
@use "vars";

.notice {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: vars.$brand-color;
  color: vars.$background-color;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.notice.hidden {
  opacity: 0;
}

.notice p {
  text-align: center;
  margin: 0;
  padding-top: math.div(vars.$spacing-unit, 2);
  padding-bottom: math.div(vars.$spacing-unit, 2);
}
.notice a {
  color: vars.$background-color;
}
