@use "sass:math";
@use "vars";

.pagination {
  text-align: center;
  padding: vars.$spacing-unit 0;
}

.pagination ul {
  margin: 0;
}

.pagination li {
  display: inline-block;
}

.pagination li * {
  display: inline-block;
  padding: 0 math.div(vars.$spacing-unit, 2);
  border-bottom: 2px solid transparent;
  margin-right: 4px;
}

.pagination .number {
  padding: 0;
  display: none;
}
.pagination .start-ellipsis,
.pagination .end-ellipsis {
  padding: 0;
  display: none;
}
@include vars.media-query-min(600px) {
  .pagination .number,
  .pagination .start-ellipsis,
  .pagination .end-ellipsis {
    display: inline-block;
  }
  .pagination .number {
    padding: 0 math.div(vars.$spacing-unit, 2);
  }
}

.pagination em {
  font-style: normal;
  background-color: vars.$brand-color;
  color: vars.$background-color;
  border-radius: vars.$border-radius;
}

.pagination a {
  background-color: vars.$background-color;
  color: vars.$brand-color;
  border-radius: vars.$border-radius;
}
.pagination a:hover {
  color: vars.$brand-color-light;
  border-bottom: 2px solid vars.$brand-color-light;
}
