@use "sass:math";
@use "vars";

.post-title,
.page-title {
  text-align: center;
  font-size: vars.$base-font-size * 2;
  line-height: 1;
  margin: vars.$spacing-unit * 2 0;
}

@include vars.media-query-min(700px) {
  .post-title,
  .page-title {
    font-size: vars.$base-font-size * 3;
  }
}

.post-header-image {
  display: block;
  width: 100%;
  height: auto;
  margin-top: -(vars.$spacing-unit);
  margin-bottom: vars.$spacing-unit;
}

.post-meta {
  border-top: 5px solid vars.$grey-color-light;
  border-bottom: 5px solid vars.$grey-color-light;
  margin-bottom: vars.$spacing-unit;
  padding-top: math.div(vars.$spacing-unit, 2);
  overflow: hidden;
}

.post-list .external .post-meta {
  margin-bottom: 0;
}

.post-list .post-meta {
  border: none;
  padding: 0;
  margin-bottom: vars.$spacing-unit;
}

.post-meta p {
  font-style: italic;
  font-size: vars.$small-font-size;
  font-family: vars.$base-font-family;
  font-weight: 400;
  text-transform: none;
  margin-bottom: math.div(vars.$spacing-unit, 2);
}

@include vars.media-query-min(730px) {
  .post-meta .meta {
    float: left;
  }
  .post-meta .subscribe {
    float: right;
  }
}

.subscribe svg {
  display: inline-block;
  height: 16px;
  width: 16px;
  fill: vars.$brand-color;
}

.post footer {
  margin-top: vars.$spacing-unit * 2;
}

.post.external {
  display: flex;
  gap: vars.$spacing-unit;
}

.blog-meta {
  clear: both;
  border-top: 5px solid vars.$grey-color-light;
  border-bottom: 5px solid vars.$grey-color-light;
  margin-bottom: vars.$spacing-unit;
}
.blog-meta p {
  padding-top: math.div(vars.$spacing-unit, 2);
  margin-bottom: math.div(vars.$spacing-unit, 2);
}

.post-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.post-list h2 {
  font-size: vars.$base-font-size * 1.5;
  line-height: 1.25;
  padding-top: 0;
  padding-bottom: 0;
}
.post-list .external h2 {
  font-size: vars.$base-font-size * 1.1;
}
.post-list .external img {
  display: block;
  flex-basis: 64px;
  height: 64px;
  aspect-ratio: 1 / 1;
}
.post-list .external svg {
  vertical-align: sub;
}

.post-list .post-header-image {
  margin-top: vars.$spacing-unit;
}

.post-list .post {
  margin-bottom: vars.$spacing-unit;
  padding-bottom: vars.$spacing-unit;
  border-bottom: 1px solid vars.$border-color;
}
.post-list .post:last-child {
  border-bottom: none;
}
.post-list .post p:last-child {
  margin-bottom: 0;
}

/* Centres embedded tweets in posts */
.twitter-tweet-rendered {
  margin-left: auto;
  margin-right: auto;
}

/* iframes - embedded videos in posts */

.post-video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  margin-bottom: vars.$spacing-unit;
}

.post-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Images */

.post-image {
  display: block;
  text-align: center;
}

.post-image img {
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.post-image-outside {
  margin-left: 0;
  margin-right: 0;
}

@include vars.media-query-min(600px) {
  .post-image-left {
    float: left;
    margin-left: 0;
    margin-right: 1em;
    margin-bottom: 1em;
  }
}

@include vars.media-query-min(700px) {
  .post-image-outside {
    margin-left: -100px;
    margin-right: -100px;
  }
}

.post-promo {
  margin-top: vars.$spacing-unit * 2;
  padding-top: vars.$spacing-unit * 2;
  margin-bottom: vars.$spacing-unit;
  border-top: 5px solid vars.$grey-color-light;
  border-radius: vars.$border-radius;
}
.post-promo h2 {
  font-size: 1.5em;
}
.post-promo web-share-wrapper button {
  color: vars.$brand-color;
  text-decoration: none;
  border: none;
  background: transparent;
  display: inline;
  font-size: 18px;
  padding: 0;
  cursor: pointer;
  font-family: vars.$base-font-family;
}
.post-promo web-share-wrapper button:hover {
  color: vars.$brand-color-light;
  border-bottom: 2px solid vars.$brand-color-light;
}
