---
layout: default
title: Blog
---

<div class="home row">

  <header class="post-header cell cell-12">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li class="cell cell-12 cell-med-10 cell-centre post">
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>

        {% include post_meta.html page=post %}

        {{ post.excerpt }}
      </li>
    {% endfor %}
  </ul>

  {% include pagination.html %}

  {% comment %}<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>{% endcomment %}

</div>
