---
import type { CollectionEntry } from "astro:content";
import { displayDate } from "../utils/appearances";
import TalkItem from "./TalkItem.astro";

export type Props = {
  appearance: CollectionEntry<"appearances">;
};

const { appearance } = Astro.props;
---

<li class="talk">
  <p class="talk-meta">
    {
      displayDate(
        appearance.data.event.start_date,
        appearance.data.event.end_date,
      )
    }
    - {appearance.data.event.location}
  </p>
  <h3 class="talk-event">
    {
      appearance.data.event.link ? (
        <a href={appearance.data.event.link}>{appearance.data.event.name}</a>
      ) : (
        appearance.data.event.name
      )
    }
  </h3>

  {
    appearance.data.roles && appearance.data.roles.length > 0 && (
      <h4>In the role of: {appearance.data.roles.join(", ")}</h4>
    )
  }
  {
    appearance.data.roles &&
      appearance.data.roles.length > 0 &&
      appearance.data.talks &&
      appearance.data.talks.length > 0 && <h4>Also presenting</h4>
  }
  {
    ((appearance.data.roles && appearance.data.roles.length === 0) ||
      !appearance.data.roles) &&
      appearance.data.talks &&
      appearance.data.talks.length > 0 && <h4>Presenting</h4>
  }

  {
    appearance.data.talks &&
      appearance.data.talks.map((talk) => {
        return <TalkItem talk={talk} />;
      })
  }
</li>
