---
import { footerIcons } from "../utils/footer";
import FooterIcon from "./FooterIcon.astro";
const year = new Date().getFullYear();
---

<footer class="site-footer">
  <div class="wrapper">
    <div class="row">
      <div class="cell cell-12 cell-med-8">
        <h2>Find Phil on the Internet</h2>
        <ul class="social">
          {footerIcons.map((icon) => <FooterIcon {...icon} />)}
        </ul>
      </div>

      <div class="cell cell-12 cell-med-4">
        <p>
          &copy; {year}
          <a href="/">philnash</a>
        </p>
        <p>
          <a href="/">home</a> &bull; <a href="/blog/">blog</a> &bull;
          <a href="/speaking/">speaking</a> &bull;
          <a href="/live/">live</a>
        </p>
      </div>
    </div>
  </div>
</footer>
