---
const year = new Date().getFullYear();
---

<div class="cell cell-12 cell-med-4">
  <p class="copyright">
    &copy; {year}&nbsp;<a href="/">philnash</a>
  </p>
  <p>
    <a href="/">home</a> &bull; <a href="/blog/">blog</a> &bull;
    <a href="/speaking/">speaking</a>
  </p><p>
    <a href="/links/">links</a> &bull; <a href="/contact/">contact</a>
  </p>
</div>
