---
const year = new Date().getFullYear();
---

<div class="cell cell-12 cell-med-4">
  <p>
    &copy; {year}
    <a href="/">philnash</a>
  </p>
  <p>
    <a href="/">home</a> &bull; <a href="/blog/">blog</a> &bull;
    <a href="/speaking/">speaking</a> &bull;
    <a href="/live/">live</a> &bull; <a href="/links/">links</a>
  </p>
</div>
