---
import Nav from "./Nav.astro";
import { SITE_TITLE } from "../consts";
---

<header class="blog-header header row">
  <div class="cell cell-12">
    <a class="title" href="/">{SITE_TITLE}</a>

    <Nav />
  </div>
</header>
