---
import HeaderLink from "./HeaderLink.astro";
---

<nav>
  <HeaderLink href="/blog/">Blog</HeaderLink>
  <HeaderLink href="/speaking/">Speaking</HeaderLink>
  <HeaderLink href="/live/">Live</HeaderLink>
</nav>
