---
import { getRelatedPosts } from "../utils/related_posts";

type Props = {
  tags: string[];
  id: string;
};

const { tags, id } = Astro.props;

const relatedPosts = await getRelatedPosts(id, tags);
---

<div class="related">
  <h2>You might also like</h2>
  <ul>
    {
      relatedPosts.map(({ path, title }) => (
        <li>
          <a href={path}>{title}</a>
        </li>
      ))
    }
  </ul>
</div>
