---
import { getCollection } from "astro:content";
import { getRelatedPosts } from "../utils/blog_posts";
const allBlogPosts = await getCollection("blog");

type Props = {
  tags: string[];
  id: string;
};

const { tags, id } = Astro.props;

const relatedPosts = getRelatedPosts(id, tags, allBlogPosts);
---

<div class="related">
  <h2>You might also like</h2>
  <ul>
    {
      relatedPosts.map((post) => (
        <li>
          <a href={`/blog/${post.slug}`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</div>
