---
import { getRelatedContent } from "virtual:astro-related-content";
import { postPath } from "../utils/blog_posts";
import PostMedia from "./PostMedia.astro";

type Props = {
  id: string;
};

const { id } = Astro.props;

const relatedContent = (await getRelatedContent("blog", id)).map(
  (result) => result.entry,
);
---

<div class="related">
  <h2>You might also like</h2>
  <ul>
    {
      relatedContent.map((post) => (
        <li>
          <a href={postPath(post)}>
            <PostMedia {...post.data} aboveTheFold={false} slug={post.id} />
            <h3>{post.data.title}</h3>
          </a>
        </li>
      ))
    }
  </ul>
</div>
