---
import { getRelatedContent } from "virtual:astro-related-content";
import { postPath } from "../utils/blog_posts";

type Props = {
  id: string;
};

const { id } = Astro.props;

const relatedContent = (await getRelatedContent("blog", id)).map(
  (result) => result.entry,
);
---

<div class="related">
  <h2>You might also like these {relatedContent.length} posts</h2>
  <ul>
    {
      relatedContent.map((post) => (
        <li>
          <a href={postPath(post)}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</div>
