---
import { postPath } from "../utils/blog_posts";
import type { CollectionEntry } from "astro:content";

type Props = {
  relatedPosts: CollectionEntry<"blog">[];
};

const { relatedPosts } = Astro.props;
---

<div class="related">
  <h2>You might also like</h2>
  <ul>
    {
      relatedPosts.map((post) => (
        <li>
          <a href={postPath(post)}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</div>
