---
import { getRelatedPosts } from "../utils/vector_related_posts";
import { postPath } from "../utils/blog_posts";

type Props = {
  body: string;
  slug: string;
};

const { body, slug } = Astro.props;

const relatedPosts = await getRelatedPosts({ body, slug });
---

<div class="related">
  <h2>You might also like</h2>
  <ul>
    {
      relatedPosts.map((post) => (
        <li>
          <a href={postPath(post)}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</div>
