---
layout: default
---
<div class="row">
  <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header cell cell-12">
      <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
      {% include post_image.html page=page %}
    </header>

    <div class="cell cell-12 cell-med-12">
      {% include post_meta.html page=page %}
    </div>

    <div class="row">
      <div class="post-content cell cell-12 cell-med-9" itemprop="articleBody">
        {{ content }}
      </div>

      <div class="cell cell-12 cell-med-3">
        {% include carbonads.html %}
      </div>
    </div>

    <div class="post-promo cell cell-12">
      {% include share.html page=page %}
      {% include related_posts.html page=page %}
      {% include subscribe_rss.html %}
    </div>

  </article>
</div>