---
layout: default
title: Speaking history
---

<div class="home row">
  <header class="page-header cell cell-12">
    <h1 class="page-title">{{ page.title }}</h1>
    <img src="{% asset speaking/speaking @path %}" class="speaking-header-image" alt="Phil leaning over a laptop doing a live coding demo.">
  </header>
</div>

<div class="row cell">
  {% assign past = site.data.appearances | where_exp: "appearance", "appearance.event.start_date < site.date" %}
  {% assign past_by_year = past | group_by_exp: "appearance", "appearance.event.start_date | date: '%Y'" %}
  {% assign sorted_past_by_year = past_by_year | sort: "name" | reverse %}
  {% for year in sorted_past_by_year %}
    <h2 class="section-title">{{ year.name }}</h2>
    <ol class="speaking-list cell cell-12 cell-med-8 cell-centre">
      {% assign year_appearances = year.items | sort: "event.start_date" | reverse %}
      {% for appearance in year_appearances %}
        {% include appearance.html appearance=appearance %}
      {% endfor %}
    </ol>
  {% endfor %}
</div>